// .collection-preview {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 30px;

//   .title {
//     font-size: 28px;
//     margin-bottom: 25px;
//   }

//   .preview {
//     display: flex;
//     justify-content: space-between;
//   }
// }

.section-title-3 > h2 {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  text-transform: capitalize;
}
.section-title-3 > h2::after {
  background-color: #666666;
  content: "";
  height: 2px;
  position: absolute;
  right: -69px;
  top: 19px;
  width: 40px;
}
.section-title-3 > h2::before {
  background-color: #666666;
  content: "";
  height: 2px;
  left: -69px;
  position: absolute;
  top: 19px;
  width: 40px;
}
.mb-40 {
  margin: 40px 0px;
}
.category {
  padding-left: 20px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #383838;
}
.custom-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  grid-column-gap: 0.5rem;
}
